*{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif; 
    color: #495057;
} 

html, body, #root, #root, div.login-background, #auth-parent-component{
    height: 100%;
}

hr{
    margin: 0;
    padding: 0;
}

.position-relative{
    position: relative
}

.position-absolute{
    position: absolute
}

.login-container {
    width: 410px;
    height: 500px;
    margin: auto;
    background-color:#fafafa;
}

.login-background {
    background-image: url("../image/login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container-border {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(61,92,138,1);
    -moz-box-shadow: 7px 7px 5px 0px rgba(61,92,138,1);
    box-shadow: 7px 7px 5px 0px rgba(61,92,138,1);
}

.main-container {
    width: 75%;
    margin: auto;
}

.menubar-background {
    background-color: #e3f2fd
}

.center {
    width: 60%; 
    margin: auto;
}

.post-summary-body *,.post-details-body *,.post-details-comment *{
    margin: 0;
}

.center-container{
    width: 770px;
    margin: auto;
    padding: 35px;
    border: 1px solid #b8bec5b3;
}

.form-spacing{
    padding-top:5px;
    padding-bottom:5px;
}

.tab-float-left{
    float: left;
    margin-right:20px;
}

.float-right{
    float: right;
}

.clear-float{
    clear:both;
}

.tab-bar{
    width: 770px;
    margin: auto;
    height: auto;
    border: 1px solid #b8bec5b3; 
}

.post-title-wrap{
    display: block;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-wrap{
    display: block;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#success_message {
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
}

#error_message {
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
}

.post-details-username {
    font-weight: bold;
    font-size: 16px;
}

.post-details-language {
    color: #636466;
    font-size: 14px;
}

.post-details-time {
    color: #636466;
    font-size: 12px;
}

.post-edit-header {
    font-weight: bold;
    font-size: 16px;
}

.editbox_post_container {
    width: 60%;
    float: left
}

#editbox_comment_container {
    width: 40%;
    float: right;
    height: 300px;
    border: 1px solid #b8bec5b3;
    padding: 12px;
    overflow-y: scroll;
}

.displayed-comment-box {
    padding: 10px; 
    height: 86px;
    word-break: break-all;
    overflow-y: scroll;
}

.comment-username {
    font-weight: bold;
    font-size: 12px;
}

.comment-time {
    font-size: 12px;
}

.comment-text {
    font-size: 14px;
}

.right-button {
    z-index: 99;
    float: right;
}

.editmenu {
    height: "16px";
    position: absolute;
    top: 8px;
    right: 12px;
}

.post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    white-space: nowrap;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-container {
    position: fixed;
    width: 500px;
    top: 20vh;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    background: white;
    border-radius: 5px;
    z-index: 99;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .modal-title{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold
  }

  .avatar-container {
    position: relative;
    display: inline-block;
    padding-top: 14px;
    padding-left: 14px;
  } 

  .profile-avatar {
    display: block
  }

  .profile-edit {
    position: absolute; 
    bottom:0; 
    right:0; 
  }