*{
    margin:0px;
} 
.center-container{
    width: 60%;
    margin: auto;
    padding: 30px;
    border: 1px solid black;
}

.form-spacing{
    padding-top:5px;
    padding-bottom:5px;
}

.tab-float-left{
    float: left;
    margin-right:20px;
}

.float-right{
    float: right;
}

.clear-float{
    clear:both;
}

.post-summary-container{
    height: 100px;
}

.tab-bar{
    width: 60%;
    margin: auto;
    height: auto;
    padding:15px;
    border: 1px solid black;
}

#success_message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: none;
}
