*{
    margin:0px;
} 

hr{
    margin: 0;
    padding: 0;
}

.post-summary-body *,.post-details-body *,.post-details-comment *{
    margin: 0;
}

.center-container{
    width: 60%;
    margin: auto;
    padding: 30px;
    border: 1px solid black;
}

.form-spacing{
    padding-top:5px;
    padding-bottom:5px;
}

.tab-float-left{
    float: left;
    margin-right:20px;
}

.float-right{
    float: right;
}

.clear-float{
    clear:both;
}

.tab-bar{
    width: 60%;
    margin: auto;
    height: auto;
    padding:15px;
    border: 1px solid black;
}

.post-title-wrap{
    display: block;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-wrap{
    display: block;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#success_message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: none;
}
